{% capture logo_path %}{{ site.logo | relative_url }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path }}" alt="{{ site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}"></a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.target %} target="{{ link.target }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
          <button class="search__toggle" type="button">
            <span class="visually-hidden">{{ site.data.ui_text[site.locale].search_label | default: "Search" }}</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.854 15.146a.5.5 0 0 1-.707 0l-3.5-3.5a7 7 0 1 1 .707-.707l3.5 3.5a.5.5 0 0 1 0 .707zM8 1a6 6 0 1 0 0 12A6 6 0 0 0 8 1z"/></svg>
          </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui_text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="hamburger">
            <div class="hamburger__patty"></div>
            <div class="hamburger__patty"></div>
            <div class="hamburger__patty"></div>
          </div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
